.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #7438ab;
}
a {
    text-decoration: none;
    color:#7438ab;
}
body{
    background-color: silver;
}